@font-face {
  font-family: 'wiatr';
  src: url('czcionki/czcionka_www_wiatr.eot');
  scr: url('czcionki/czcionka_www_wiatr.eot#iefix') format('embedded-opentype'),
  url('./czcionki/czcionka_www_wiatr.woff') format('woff'),
  url('./czcionki/czcionka_www_wiatr.ttf') format('truetype'),
  url('./czcionki/czcionka_www_wiatr.svg#wiatr') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'jezioro';
  src: url('czcionki/czcionka_www_jezioro.eot');
  src: url('czcionki/czcionka_www_jezioro.eot?#iefix') format('embedded-opentype'),
       url('./czcionki/czcionka_www_jezioro.woff') format('woff'),
       url('./czcionki/czcionka_www_jezioro.ttf') format('truetype'),
       url('./czcionki/czcionka_www_jezioro.svg#jezioro') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}
body {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  background: rgb(149, 194, 215);
}
a[href="#"] {
  text-decoration: none;
}
.glowny-tytul {
  flex: 0 1 auto;
}
.tekst-logo {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-family: jezioro;
  font-size: 37px;
}
.glowna-tresc {
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.element-listy {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%,100%,100%);
  border: 1px solid rgba(100%, 100%, 100%, 0,8);
}
.lista-miniatur {
  flex: 0 1 auto;
  order: 2;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}
.obraz-miniatury {
  display: block;
  width: 100%;
}
.tytul-miniatury {
  display: block;
  margin: 0;
  padding: 4px 10px;

  background-color: rgb(96, 125, 139);
  color: rgb(202,238,255);

  font-size: 18px;
}
#kontener-duzego-obrazu {
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ramka-duzego-obrazu {
  position: relative;
  text-align: center;
}
.duzy-obraz {
  width: 90%;
}
.tytul-duzego-obrazu {
  position: absolute;
  bottom: -16px;
  left: 4px;

  font-family: wiatr;
  color: white;
  text-shadow: rgba(0,0,0,0.9) 1px 2px 9px;
  font-size: 40px;
}
@media all and (min-width: 768px) {
  .all {
    display: -webkit-flex;
    display: flex;
  }
  #kontener-duzego-obrazu {
    -webkit-order: 1;
    order: 1;
  }
  #kontener-zawartosci {
    -webkit-order: 0;
    order: 0;
  }
  .glowna-tresc {
    flex-direction: row;
    overflow: hidden;
  }
  .lista-miniatur {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
    max-height: 600px;
  }
  .element-listy {
    max-width: 260px;
  }
  .element-listy + .element-listy {
    margin-top: 20px;
  }
}
